*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  background-color #ebffe0
}

h1 {
  text-align: center;
  margin-top: auto;
  letter-spacing: 0.5em;
  color: #161f12;
}

.startPage {
  text-align: center;
  margin-top: auto;
  color: #161f12;
}

.quizPage {
  text-align: center;
  margin-top: auto;
  color: #161f12;
  display: none;
}